.timetable {
    display: flex;
    flex-direction: column;
    padding: 10px 0 12.5px 0px;
    border-bottom: 1px solid rgb(229 231 235);
    margin-bottom: 12.5px;
}

.timetable__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.timetable__item {
    font-size: 1rem;
    color: rgb(83, 83, 83);
    margin: 5px 0 0 0;
}